@using WebBlazor.Components.Pages.Forms
@rendermode InteractiveServer

<div class="container mt-5">
    <h2 class="mb-4">Load category image</h2>
    <EditForm OnSubmit="LoadImage" Model="CategoryLoadImageDto" FormName="CategoryLoadImageForm">
        <div class="mb-3">
            <label for="categoryId" class="form-label">Category id</label>
            <InputText type="floatingInput" class="form-control" id="categoryId" placeholder="Category" @bind-Value="CategoryLoadImageDto.Id" />
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image file</label>
            <InputFile type="floatingInput" class="form-control" id="image" placeholder="File" @bind-Value="CategoryLoadImageDto.File" OnChange="HandleFileUpload" />
        </div>
        <button type="submit" class="btn btn-dark">Load</button>
    </EditForm>
</div>

@code {
    private ManufacturerImageLoadDto? CategoryLoadImageDto { get; set; } = new ManufacturerImageLoadDto();

    private async Task LoadImage()
    {
        var content = new MultipartFormDataContent();
        content.Add(new StreamContent(CategoryLoadImageDto.File.OpenReadStream()), "file", CategoryLoadImageDto.File.Name);
        var response = await UserService.HttpClient.PostAsync($"{UserService.APIConnectionString}/categories/{CategoryLoadImageDto.Id}/images", content);
        await MessageService.ShowMessage(response);
    }

    private async Task HandleFileUpload(InputFileChangeEventArgs e)
    {
        CategoryLoadImageDto.File = e.File;
    }
}
