@using WebBlazor.Components.Pages.Forms
@rendermode InteractiveServer

<div class="container mt-5">
    <h2 class="mb-4">Create category</h2>
    <EditForm OnSubmit="CreateCard" Model="CategoryCreateDto" FormName="CategoryCreateForm">
        <div class="mb-3">
            <label for="categoryName" class="form-label">Category name</label>
            <InputText type="floatingInput" class="form-control" id="categoryName" placeholder="Category" @bind-Value="CategoryCreateDto.Name" />
        </div>
        <button type="submit" class="btn btn-dark">Create</button>
    </EditForm>
</div>

@code {
    private CategoryCreateDto? CategoryCreateDto { get; set; } = new CategoryCreateDto();


    private async Task CreateCard()
    {
        var response = await UserService.HttpClient.PostAsJsonAsync<CategoryCreateDto>($"{UserService.APIConnectionString}/categories", CategoryCreateDto);
        await MessageService.ShowMessage(response);
    }
}
