@using WebBlazor.Components.Pages.Forms

@rendermode InteractiveServer

<div class="container mt-5">
    <h2 class="mb-4">Delete category</h2>
    <EditForm OnSubmit="DeleteCategory" Model="CategoryDeleteDto" FormName="CategoryDeleteForm">
        <div class="mb-3">
            <label for="categoryId" class="form-label">Category id</label>
            <InputText type="floatingInput" class="form-control" id="categoryId" placeholder="Category id" @bind-Value="CategoryDeleteDto.Id" />
        </div>
        <button type="submit" class="btn btn-dark">Delete</button>
    </EditForm>
</div>

@code {
    private CategoryDeleteDto CategoryDeleteDto = new CategoryDeleteDto();
    private async Task DeleteCategory() 
    {
        var response = await UserService.HttpClient.DeleteAsync($"{UserService.APIConnectionString}/categories/{CategoryDeleteDto.Id}");
        await MessageService.ShowMessage(response);
    }
}
