@inherits LayoutComponentBase
<div>
    <WebBlazor.Components.Pages.Error></WebBlazor.Components.Pages.Error>
    <header>
        <NavMenu />
    </header>

    <main>
        @Body
    </main>
</div>
