@using WebBlazor.Components.Pages.Forms
@rendermode InteractiveServer

<div class="container mt-5">
    <h2 class="mb-4">Create card</h2>
    <EditForm OnSubmit="CreateCard" Model="CardCreateDto" FormName="CardCreateForm">
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">Phone number</label>
            <InputText type="floatingInput" class="form-control" id="phoneNumber" placeholder="Phone number" @bind-Value="CardCreateDto.PhoneNumber" />
        </div>
        <button type="submit" class="btn btn-dark">Create</button>
    </EditForm>
</div>

@code {
    private CardCreateDto? CardCreateDto { get; set; } = new CardCreateDto();


    private async Task CreateCard()
    {
        var response = await UserService.HttpClient.PostAsJsonAsync<CardCreateDto>($"{UserService.APIConnectionString}/buyer-cards", CardCreateDto);
        await MessageService.ShowMessage(response);
        StateHasChanged();
    }
}
