@using WebBlazor.Components.Pages.Forms
@rendermode InteractiveServer

<div class="container mt-5">
    <h2 class="mb-4">Delete card</h2>
    <EditForm OnSubmit="CreateCard" Model="CardDeleteDto" FormName="CardDeleteForm">
        <div class="mb-3">
            <label for="cardId" class="form-label">Card id</label>
            <InputText type="floatingInput" class="form-control" id="cardId" placeholder="Card id" @bind-Value="CardDeleteDto.Id" />
        </div>
        <button type="submit" class="btn btn-dark">Delete</button>
    </EditForm>
</div>

@code {
    private CardDeleteDto? CardDeleteDto { get; set; } = new CardDeleteDto();


    private async Task CreateCard()
    {
        var response = await UserService.HttpClient.DeleteAsync($"{UserService.APIConnectionString}/buyer-cards/{CardDeleteDto.Id}");
        await MessageService.ShowMessage(response);
    }
}
