@page "/admin"
@using WebBlazor.Components.Pages.Forms
@inject FormService FormService
@rendermode InteractiveServer

<link href="Account.css" rel="stylesheet" />
<div class="container container-main">
    <div class="row">
        <div class="col-md-4">
            <label for="objectSelect">Choose an object:</label>
            <InputSelect class="form-control" @bind-Value="SelectedObject" id="objectSelect" @onclick="ShowForm">
                <option value="" selected disabled hidden>Choose here</option>
                <option value="product">Product</option>
                <option value="category">Category</option>
                <option value="manufacturer">Manufacturer</option>
                <option value="productsAttribute">Product's attribute</option>
                <option value="price">Price</option>
                <option value="card">Buyer card</option>
            </InputSelect>
        </div>
        <div class="col-md-4">
            <label for="actionSelect">Choose an action:</label>
            <InputSelect id="actionSelect" class="form-control" @bind-Value="SelectedAction" @onclick="ShowForm">
                <option value="" selected disabled hidden>Choose here</option>
                <option value="add">Add</option>
                <option value="update">Update</option>
                <option value="delete">Delete</option>
                <option value="imageLoad">Image load</option>
                <option value="imageDelete">Image delete</option>
            </InputSelect>
        </div>
    </div>

    @if (fragmentForm != null)
    {
        @fragmentForm
    }
</div>


@code{
    private string SelectedObject;
    private string SelectedAction;

    private RenderFragment fragmentForm;

    protected override async Task OnInitializedAsync()
    {
        if (!UserService.IsAuthorized)
        {
            NavigationManager.NavigateTo("/sign-in");
            return;
        }
        else if (!UserService.IsTokenHasRole(Roles.root))
        {
            NavigationManager.NavigateTo("/account");
            return;
        }
    }

    private void ShowForm()
    {
        if(SelectedAction is not null && SelectedObject is not null)
        {
            fragmentForm = FormService.GetFragment(SelectedObject, SelectedAction);
        }
    }
}