<button class="btn" id="@Category.Id" onclick="@(() => OnCardClick())">
    <div class="col">
        <img src=@($"{UserService.APIConnectionString}/categories/images/{Category.CategoryImageId}") 
        class="bd-placeholder-img card-img-top" width="100%" height="225" alt="@Category.Name">
        <div class="card-body">
            <h5 class="card-title">@Category.Name</h5>
        </div>
    </div>
</button>

@code {
    [Parameter]
    public CategoryReadDto Category { get; set; }

    private void OnCardClick()
    {
        NavigationManager.NavigateTo($"/categories/{Category.Id}");
    }
}
