<div class="col">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Order @Order.Id</h5>
            <p class="card-text">Cost: @CalculateCost()</p>
            <div class="d-flex justify-content-between align-items-center">
                <ul>
                    @foreach (var orderProduct in Order.Products)
                    {
                        <li>
                            <button class="btn" onclick="@(() => OnProductClick(orderProduct.Product.Id))">@orderProduct.Product.Name</button>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public OrderReadDto Order { get; set; }

    public float CalculateCost()
    {
        float cost = 0;
        foreach (var orderProduct in Order.Products)
        {
            cost += orderProduct.Product.Price * orderProduct.Amount;
        }
        return cost;
    }

    private void OnProductClick(int productId)
    {
        NavigationManager.NavigateTo($"/products/{productId}");
    }
}
