@using WebBlazor.Components.Pages.Forms
@rendermode InteractiveServer

<div class="container mt-5">
    <h2 class="mb-4">Update attribute</h2>
    <EditForm OnSubmit="UpdateAttribute" Model="AttributeUpdateDto" FormName="AttributeUpdateForm">
        <div class="mb-3">
            <label for="productId" class="form-label">Product id</label>
            <InputText type="floatingInput" class="form-control" id="productId" placeholder="Product id" @bind-Value="productId" />
        </div>
        <div class="mb-3">
            <label for="attributeValue" class="form-label">Attribute value</label>
            <InputText type="floatingInput" class="form-control" id="attributeValue" placeholder="Attribute value" @bind-Value="AttributeUpdateDto.Value" />
        </div>
        <button type="submit" class="btn btn-dark">Update</button>
    </EditForm>
</div>

@code {
    private AttributeUpdateDto? AttributeUpdateDto { get; set; } = new AttributeUpdateDto();
    private string productId;

    private async Task UpdateAttribute()
    {
        var response = await UserService.HttpClient.PutAsJsonAsync<AttributeUpdateDto>($"{UserService.APIConnectionString}/products/{productId}/attributes", AttributeUpdateDto);
        await MessageService.ShowMessage(response);
    }
}
