@using WebBlazor.Components.Pages.Forms
@rendermode InteractiveServer

<div class="container mt-5">
    <h2 class="mb-4">Create attribute</h2>
    <EditForm OnSubmit="CreateAttribute" Model="AttributeCreateDto" FormName="AttributeCreateForm">
        <div class="mb-3">
            <label for="productId" class="form-label">Product id</label>
            <InputText type="floatingInput" class="form-control" id="productId" placeholder="Product id" @bind-Value="productId" />
        </div>
        <div class="mb-3">
            <label for="attributeName" class="form-label">Attribute name</label>
            <InputText type="floatingInput" class="form-control" id="attributeName" placeholder="Attribute name" @bind-Value="AttributeCreateDto.Name" />
        </div>
        <div class="mb-3">
            <label for="attributeValue" class="form-label">Attribute value</label>
            <InputText type="floatingInput" class="form-control" id="attributeValue" placeholder="Attribute name" @bind-Value="AttributeCreateDto.Value" />
        </div>
        <button type="submit" class="btn btn-dark">Add</button>
    </EditForm>
</div>

@code {
    private AttributeCreateDto? AttributeCreateDto { get; set; } = new AttributeCreateDto();
    private string productId;

    private async Task CreateAttribute()
    {
        var response = await UserService.HttpClient.PostAsJsonAsync<AttributeCreateDto>($"{UserService.APIConnectionString}/products/{productId}/attributes", AttributeCreateDto);
        await MessageService.ShowMessage(response);
    }
}
