@using WebBlazor.Components.Pages.Forms
@rendermode InteractiveServer

<div class="container mt-5">
    <h2 class="mb-4">Delete attribute</h2>
    <EditForm OnSubmit="DeleteAttribute" Model="AttributeDeleteDto" FormName="AttributeDeleteForm">
        <div class="mb-3">
            <label for="productId" class="form-label">Product id</label>
            <InputText type="floatingInput" class="form-control" id="productId" placeholder="Product id" @bind-Value="productId" />
        </div>
        <div class="mb-3">
            <label for="attributeId" class="form-label">Attribute id</label>
            <InputText type="floatingInput" class="form-control" id="attributeId" placeholder="Attribute id" @bind-Value="AttributeDeleteDto.Id" />
        </div>
        <button type="submit" class="btn btn-dark">Delete</button>
    </EditForm>
</div>

@code {
    private AttributeDeleteDto? AttributeDeleteDto { get; set; } = new AttributeDeleteDto();
    private string productId;

    private async Task DeleteAttribute()
    {
        var response = await UserService.HttpClient.DeleteAsync($"{UserService.APIConnectionString}/products/{productId}/attributes/{AttributeDeleteDto.Id}");
        await MessageService.ShowMessage(response);
    }
}
