@using WebBlazor.Components.Pages.Forms
@rendermode InteractiveServer

<div class="container mt-5">
    <h2 class="mb-4">Update manufacturer</h2>
    <EditForm OnSubmit="UpdateManufacturer" Model="ManufacturerUpdateDto" FormName="ManufacturerUpdateForm">
        <div class="mb-3">
            <label for="manufacturerId" class="form-label">Manufacturer id</label>
            <InputText type="floatingInput" class="form-control" id="manufacturerId" placeholder="Manufacturer id" @bind-Value="manufacturerId" />
        </div>
        <div class="mb-3">
            <label for="categoryName" class="form-label">Manufacturer name</label>
            <InputText type="floatingInput" class="form-control" id="categoryName" placeholder="Manufacturer" @bind-Value="ManufacturerUpdateDto.Name" />
        </div>
        <button type="submit" class="btn btn-dark">Update</button>
    </EditForm>
</div>

@code {
    private string manufacturerId;
    private ManufacturerUpdateDto? ManufacturerUpdateDto { get; set; } = new ManufacturerUpdateDto();

    private async Task UpdateManufacturer()
    {
        var response = await UserService.HttpClient.PutAsJsonAsync<ManufacturerUpdateDto>($"{UserService.APIConnectionString}/manufacturers/{manufacturerId}", ManufacturerUpdateDto);
        await MessageService.ShowMessage(response);
    }
}
