@using WebBlazor.Components.Pages.Forms

@rendermode InteractiveServer

<div class="container mt-5">
    <h2 class="mb-4">Delete manufacturer</h2>
    <EditForm OnSubmit="DeleteManufacturer" Model="ManufacturerDeleteDto" FormName="ManufacturerDeleteForm">
        <div class="mb-3">
            <label for="manufacturerId" class="form-label">Manufacturer id</label>
            <InputText type="floatingInput" class="form-control" id="manufacturerId" placeholder="Manufacturer id" @bind-Value="ManufacturerDeleteDto.Id" />
        </div>
        <button type="submit" class="btn btn-dark">Delete</button>
    </EditForm>
</div>

@code {
    private ManufacturerDeleteDto ManufacturerDeleteDto = new ManufacturerDeleteDto();
    private async Task DeleteManufacturer()
    {
        var response = await UserService.HttpClient.DeleteAsync($"{UserService.APIConnectionString}/manufacturers/{ManufacturerDeleteDto.Id}");
        await MessageService.ShowMessage(response);
    }
}
