@using WebBlazor.Components.Pages.Forms
@rendermode InteractiveServer

<div class="container mt-5">
    <h2 class="mb-4">Update price</h2>
    <EditForm OnSubmit="UpdateProduct" Model="PriceUpdateDto" FormName="ProductUpdateForm">
        <div class="mb-3">
            <label for="productId" class="form-label">Product id</label>
            <InputText type="floatingInput" class="form-control" id="productId" placeholder="Product id" @bind-Value="productId" />
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <InputText type="floatingInput" class="form-control" id="price" placeholder="Price" @bind-Value="PriceUpdateDto.PriceValue" />
        </div>
        <button type="submit" class="btn btn-dark">Update</button>
    </EditForm>
</div>

@code {
    private string productId;
    private PriceUpdateDto PriceUpdateDto { get; set; } = new PriceUpdateDto();

    private async Task UpdateProduct()
    {
        var response = await UserService.HttpClient.PutAsJsonAsync<PriceUpdateDto>($"{UserService.APIConnectionString}/products/{productId}/prices", PriceUpdateDto);
        await MessageService.ShowMessage(response);
    }
}
