@using WebBlazor.Components.Pages.Forms

@rendermode InteractiveServer

<div class="container mt-5">
    <h2 class="mb-4">Delete product</h2>
    <EditForm OnSubmit="DeleteProduct" Model="ProductDeleteDto" FormName="ProductDeleteForm">
        <div class="mb-3">
            <label for="productId" class="form-label">Product id</label>
            <InputText type="floatingInput" class="form-control" id="productId" placeholder="Product id" @bind-Value="ProductDeleteDto.Id" />
        </div>
        <button type="submit" class="btn btn-dark">Delete</button>
    </EditForm>
</div>

@code {
    private ProductDeleteDto ProductDeleteDto = new ProductDeleteDto();

    private async Task DeleteProduct() 
    {
        var response = await UserService.HttpClient.DeleteAsync($"{UserService.APIConnectionString}/products/{ProductDeleteDto.Id}");
        await MessageService.ShowMessage(response);
    }
}
