@using WebBlazor.Components.Pages.Forms
@rendermode InteractiveServer

<div class="container mt-5">
    <h2 class="mb-4">Create category</h2>
    <EditForm OnSubmit="CreateProduct" Model="ProductCreateDto" FormName="ProductCreateForm">
        <div class="mb-3">
            <label for="productName" class="form-label">Product name</label>
            <InputText type="floatingInput" class="form-control" id="productName" placeholder="Product name" @bind-Value="ProductCreateDto.Name" />
        </div>
        <div class="mb-3">
            <label for="productDescription" class="form-label">Product description</label>
            <InputTextArea type="floatingInput" class="form-control" id="productDescription" placeholder="Product description" @bind-Value="ProductCreateDto.Description" />
        </div>
        <div class="mb-3">
            <label for="categoryId" class="form-label">Category id</label>
            <InputText type="floatingInput" class="form-control" id="categoryId" placeholder="Category id" @bind-Value="ProductCreateDto.CategoryId" />
        </div>
        <div class="mb-3">
            <label for="manufacturerId" class="form-label">Manufacturer id</label>
            <InputText type="floatingInput" class="form-control" id="manufacturerId" placeholder="Manufacturer id" @bind-Value="ProductCreateDto.ManufacturerId" />
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <InputText type="floatingInput" class="form-control" id="price" placeholder="Price" @bind-Value="ProductCreateDto.Price.PriceValue" />
        </div>
        <button type="submit" class="btn btn-dark">Create</button>
    </EditForm>
</div>

@code {
    private ProductCreateDto? ProductCreateDto { get; set; } = new ProductCreateDto();

    private async Task CreateProduct() 
    {
        var response = await UserService.HttpClient.PostAsJsonAsync<ProductCreateDto>($"{UserService.APIConnectionString}/products", ProductCreateDto);
        await MessageService.ShowMessage(response);
    }
}
