@page "/sign-in"
@rendermode InteractiveServer


<div class="form-signin text-center">
    <EditForm OnSubmit="Login" Model="AuthModel" FormName="SignInForm">
        <!-- <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
        <h1 class="h3 mb-3 fw-normal">Sign in</h1>

        <div class="form-floating">
            <InputText type="floatingInput" class="form-control" id="username" placeholder="Username" @bind-Value="AuthModel.Username" />
            <label for="username">Username</label>
        </div>
        <div class="form-floating">
            <InputText type="floatingPassword" class="form-control" id="password" placeholder="Password" @bind-Value="AuthModel.Password" />
            <label for="password">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-dark" type="submit">Sign in</button>
    </EditForm>
    <p class="mt-3">Don't have an account? <NavLink href="/sign-up">Sign up</NavLink></p>
</div>


@code {
    private AuthModel? AuthModel { get; set; } = new AuthModel();
    private TokenResponse token = new TokenResponse();

    private async Task Login()
    {
        var response = await UserService.HttpClient.PostAsJsonAsync<AuthModel>($"{UserService.APIConnectionString}/users/authorization", AuthModel);
        if (response.IsSuccessStatusCode)
        {
            token = await response.Content.ReadFromJsonAsync<TokenResponse>();
            UserService.Token = token.Token;
            NavigationManager.NavigateTo("/account");
            MessageService.ShowMessage(new Message()
                {
                    Info = response.StatusCode.ToString(),
                    Description = "Authorized",
                    Type = MessagesType.Success
                });
        }
        else
        {
            var error = await response.Content.ReadFromJsonAsync<ErrorResponse>();
            MessageService.ShowMessage(new Message()
                {
                    Info = error.Message,
                    Description = error.Error,
                    Type = MessagesType.Error
                });
        }
    }
}
